/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: white;
    background-image: url(../assets/imgs/dashFundo.png);
    background-size: cover;
    display: flex;
}

/* navbar*/
header.home {
    display: flex;
    flex-direction: column;
    background: #bdbcbc;
    width: 250px;
    height: 135vh;
    padding: 20px;
    gap: 25px;
}

.logo img {
    width: 160px;
    margin: 30px;
    display: block;
}

.hello h3 {
    color: #000000;
    font-size: 23px;
    text-align: center;
}

.nav-dash ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.nav-dash ul li a {
    display: block;
    background: #f0d600;
    padding: 18px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.nav-dash ul li a:hover {
    background: #ffea51;
}

.sair a {
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.sair img {
    width: 22px;
}

/* Dashboard */
.dashboard-titulo h1 {
    max-width: 1300px;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.linha-topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 70px;
}

.card-grafico {
    background: white;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00000050;
    color: black;
    margin-left: 100px;

}

#graficoLetras {
    width: 350px;
    height: 350px;
    margin: auto;
}

.card-kpi {
    color: black;
    width: 400px;
    height: 470px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    border-left: 10px solid #FFD700;
    margin-top: 100px;
}


.kpi-imagem {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px #525050;
}

.resultado-kpi {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.card-tabela {
    color: #000000;
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00000050;
    margin-top: 50px;
   
}

.card-tabela table {
    width: 100%;
}

.card-tabela th {
    background: #FFD700;
    padding: 10px;
}

.card-tabela td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}