/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: #d9d9d9;
}

.linha-graficos {
    display: flex;
    gap: 20px;
}

.titulo {
    text-align: center;
    font-size: 50px;      /* deixa o título maior */
    font-weight: 800;
    color: white;           /* texto branco */
    margin-bottom: 35px;    /* distancia dos dashboards */
}

.titulo span {
    color: #ffcc00;         /* amarelo */
    font-size: 50px;      
}

/* cards */

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
}

.grafico-card {
    width: 55%;
}

.legenda-card {
    width: 35%;
}

.area-grafico {
    background: #f0f0f0;
    border-radius: 12px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dashboard */

.lista-legenda {
    list-style: none;
    margin-top: 15px;
}

.lista-legenda li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.cor {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border-radius: 4px;
}

.cor1 { background: #525252; }
.cor2 { background: #9a5a00; }
.cor3 { background: #ffb900; }
.cor4 { background: #ff5722; }
.cor5 { background: #7b1fa2; }
.cor6 { background: #00e5ff; }
.cor7 { background: #4caf50; }

/* segundo gráfico */

.emocao-secao {
    margin-top: 20px;
    text-align: center;
}

.emocao-grafico {
    margin: 0 auto;
    width: 50%;
    background: white;
    padding: 15px;
    border-radius: 15px;
}

.emocao-secao .area-grafico {
    height: 220px;
}
