/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', 'Times New Roman', serif;
  background-color: #000;
  color: #ffffff; /* cor das letras */
}

/* Barra da Home */
header {
  display: flex;
  background-color: #c7c7c7;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none  /*tirar as bolinhas de lista */
}

nav ul div {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 16px;
  text-decoration: none; /*  tirar as linhas de baixo  */
  color: #444444;
  font-style: italic;

}

nav a:hover {
  color: #000;
}


.botoes {
  display: flex;
  gap: 10px;
}

.botoes button {
  background-color: #dddddd;
  border: 1px solid #999999;
  padding: 6px 12px;
  font-style: italic;
  font-size: 14px;
  border-radius: 5px;/*para arredondar os botões */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.botoes button:hover {
  background-color: #bbbbbb;
}

/*Seção principal*/
.Home {
  background-image: url(../assets/imgs/FundoHome.png);
  display: flex;
  position: relative;
  background-size: cover; /*tamanho da imagem de fundo  */
  background-position: center;
  height: 90vh;
  align-items: center;
  justify-content: flex-end;
  text-align: flex-end;

}

/* Titulo */
.texto-principal h1 {
  font-size: 70px;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 3px 3px 6px #000000; /* sombreado da letra */
  margin-bottom: 20px;
  -webkit-text-stroke: 2px rgb(0, 0, 0); /*contorno da letra */
}

/*Subtitulo */
.texto-principal p {
  font-size: 18px;
  color: #e4e3e3;
  margin-bottom: 25px; /*criando um espaço */
}

/* Botão do saiba mais */
.saiba-mais {
  background-color: #c7c7c7;
  color: #000;
  border: none;
  padding: 8px 20px;
  font-style: italic;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.saiba-mais:hover {
  background-color: #a0a0a0;
}

/*  Seção Sobre */
.sobre {
  background-image: url(../assets/imgs/fundoPersonagens.png);
  display: flex;
  min-height: 100vh;
  padding: 60px 80px;
  flex-direction: column;
  align-items: center;
  background-position: center;
}

.sobre h1 {
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  -webkit-text-stroke: 2px black; /*contorno da letra */
}

/* Card com imagem e texto */
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  margin-top: 10px;
}

/* Imagem e logo */
.img-personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.logo-bojack {
  width: 220px;
  margin-bottom: 20px;
}

.sobre-personagens {
  width: 100%;
  max-width: 550px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 8px #000000;
}

/* Card do texto */
.coluna-texto {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 20px;
  box-shadow: 4px 4px 8px #000000;
  font-size: 15px;
  line-height: 2; /*altura do texto */
}

/*Seção Plataforma */
.plataforma {
  background-image: url(../assets/imgs/Desfoque.png);
  display: flex;
  color: #ffffff;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

.plataforma .texto {
  max-width: 900px;
}

.plataforma h2 {
  font-weight: 400px;
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 2;
}

/* Titulo principal */
.plataforma h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 2;
}

.destaque {
  color: #00e1ff;
  font-weight: 700;
}

/* Texto */
.plataforma p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

/* Botão */
.descubra {
  font-size: 18px; /* tamanho do botão */
  background-color: #00cfff;
  border: none;
  padding: 14px 40px;
  border-radius: 8px;
  color: #000000;
  box-shadow: 0 0 15px #00cfff;
}

.descubra:hover {
  background-color: #02b8e6;
  box-shadow: #00e0ff;
}

/* Seção Personagens */

.personagens {
  display: flex;
  background: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-personagem {
  max-width: 700px;
  text-align: center;
 margin-bottom: 40px;
}

.texto-personagem h1 {
  font-size: 50px;
  color: #000000;
}

.texto-personagem h1 span {
  color: #e8cd00;
}

.texto-personagem h2 {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  
}

.texto-personagem h2 span {
  color: #e8cd00;
}

.texto-personagem p {
  color: #000000;
  font-size: 16px;
  margin-top: 15px;
}

/* Cards*/
.cards {
  display: flex;
  width: 100%;
  gap: 30px;
}

/* cada card */
.card {
  width: 200px;
  background: #949090;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /*tudo que passa é cortado*/

}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover; /*como uma imagem vai se justar dentro de um card, corta sem deixar a imagem estranha */
}

.card p {
  color: black;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
}