/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', 'Times New Roman', serif;
  background-color: #000;
  color: #ffffff; /* cor das letras */
}

/* Barra da Home */
header {
  display: flex;
  background-color: #c7c7c7;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none  /*tirar as bolinhas de lista */
}

nav ul div {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 16px;
  text-decoration: none; /*  tirar as linhas de baixo  */
  color: #444444;
  font-style: italic;

}

nav a:hover {
  color: #000;
}


.botoes {
  display: flex;
  gap: 10px;
}

.botoes button {
  background-color: #dddddd;
  border: 1px solid #999999;
  padding: 6px 12px;
  font-style: italic;
  font-size: 14px;
  border-radius: 5px;/*para arredondar os botões */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.botoes button:hover {
  background-color: #bbbbbb;
}

/*Seção principal*/
.Home {
  background-image: url(../assets/imgs/FundoHome.png);
  display: flex;
  position: relative;
  background-size: cover; /*tamanho da imagem de fundo  */
  background-position: center;
  height: 90vh;
  align-items: center;
  justify-content: flex-end;
  text-align: flex-end;

}

/* Titulo */
.texto-principal h1 {
  font-size: 70px;
  line-height: 1.3;
  color: #ffffff;
  text-shadow: 3px 3px 6px #000000; /* sombreado da letra */
  margin-bottom: 20px;
  -webkit-text-stroke: 2px rgb(0, 0, 0); /*contorno da letra */
}

/*Subtitulo */
.texto-principal p {
  font-size: 18px;
  color: #e4e3e3;
  margin-bottom: 25px; /*criando um espaço */
}

/* Botão do saiba mais */
.saiba-mais {
  background-color: #c7c7c7;
  color: #000;
  border: none;
  padding: 8px 20px;
  font-style: italic;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.saiba-mais:hover {
  background-color: #a0a0a0;
}

/*  Seção Sobre */
.sobre {
  background-image: url(../assets/imgs/fundoPersonagens.png);
  display: flex;
  min-height: 100vh;
  padding: 60px 80px;
  flex-direction: column;
  align-items: center;
  background-position: center;
}

.sobre h1 {
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  -webkit-text-stroke: 2px black; /*contorno da letra */
}

/* Card com imagem e texto */
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  margin-top: 10px;
}

/* Imagem e logo */
.img-personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.logo-bojack {
  width: 220px;
  margin-bottom: 20px;
}

.sobre-personagens {
  width: 100%;
  max-width: 550px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 8px #000000;
}

/* Card do texto */
.coluna-texto {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 20px;
  box-shadow: 4px 4px 8px #000000;
  font-size: 15px;
  line-height: 2; /*altura do texto */
}

/*Seção Plataforma */
.plataforma {
  background-image: url(../assets/imgs/Desfoque.png);
  display: flex;
  color: #ffffff;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

.plataforma .texto {
  max-width: 900px;
}

.plataforma h2 {
  font-weight: 400px;
  font-size: 22px;
  margin-bottom: 12px;
  line-height: 2;
}

/* Titulo principal */
.plataforma h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 2;
}

.destaque {
  color: #00e1ff;
  font-weight: 700;
}

/* Texto */
.plataforma p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

/* Botão */
.descubra {
  font-size: 18px; /* tamanho do botão */
  background-color: #00cfff;
  border: none;
  padding: 14px 40px;
  border-radius: 8px;
  color: #000000;
  box-shadow: 0 0 15px #00cfff;
}

.descubra:hover {
  background-color: #02b8e6;
  box-shadow: #00e0ff;
}

/* Seção Personagens */

.personagens {
  display: flex;
  background: #ffffff;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-personagem {
  max-width: 700px;
  text-align: center;
 margin-bottom: 40px;
}

.texto-personagem h1 {
  font-size: 50px;
  color: #000000;
}

.texto-personagem h1 span {
  color: #e8cd00;
}

.texto-personagem h2 {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  
}

.texto-personagem h2 span {
  color: #e8cd00;
}

.texto-personagem p {
  color: #000000;
  font-size: 16px;
  margin-top: 15px;
}

/* Cards*/
.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 65px;
   flex-wrap: wrap; /*ele quebra a div para a próxima linha */
}

/* cada card */
.card {
  width: 200px;
  background: #949090;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /*tudo que passa é cortado*/

}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover; /*como uma imagem vai se justar dentro de um card, corta sem deixar a imagem estranha */
}

.card p {
  color: black;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
}

/* Seção comunidade */
.comunidade {
  background-image: url(../assets/imgs/fundoComunidade.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.comunidade h1 {
    font-size: 80px;
    color: #f1c40f;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold; 
    -webkit-text-stroke: 2px black;
    margin-top: -100px; /* para subir a imagem */
    
}

.card-comunidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-comunidade h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
    line-height: 1.2;
}

.card-comunidade p {
    font-size: 18px;
    color: #555555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card-comunidade li {
    font-size: 18px;
    color: #555555;
    margin-bottom: 20px;
    line-height: 1.5;
    list-style: none 
}

.botao-comunidade {
    background-color: #f1c40f;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
}

.botao-comunidade:hover {
    background-color: #d4ac0d;
}

.container_cavalo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -207px;
}


/*Cadastro */
.cadastro-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.imagem-cadastro {
    width: 50%;
    background-image: url(../assets/imgs/bojackCadastro.png); 
    background-size: cover;
    background-position: center;
}

/*formulario do cadastro */
.cadastro {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 80px;
}

.titulo-cadastro {
    color: #1a1a1a;
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
    
}

/* titulo dos inputs */
.span-cadastro {
    color: #333333;
    font-size: 15px;
    margin-bottom: 6px;
}

.input-cadastro {
    background: #f2f2f2;
    width: 100%;
    border-radius: 10px;
    padding: 13px 15px;
    border: 1px solid #dcdcdc; /*para criar a borda */
    font-size: 15px;
    margin-bottom: 18px;
}

.botao-cadastro {
    background: #ffdd00;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}

.botao-cadastro:hover {
    background: #ffe44d;
}

.p_login {
    color: black;
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.a_login {
    color: #ffcc00;
    font-weight: 600;
}


/*Login*/
.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.imagem-login {
    width: 50%;
    background-image: url(../assets/imgs/bojackLogin.png); 
    background-size: cover;
    background-position: center;
}

/*formulario do login */
.login {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 80px;
    
}

.titulo-login {
    color: #1a1a1a;
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
    
}

/* titulo dos inputs */
.span-login {
    color: #333333;
    font-size: 15px;
    margin-bottom: 6px;
}

.input-login {
    width: 100%;
    border-radius: 10px;
    padding: 13px 15px;
    border: 1px solid #dcdcdc; /*para criar a borda */
    background: #f2f2f2;
    font-size: 15px;
    margin-bottom: 18px;
}

.botao-login {
    background: #ffdd00;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}

.botao-login:hover {
    background: #ffe44d;
}

.texto-cadastro {
    color: black;
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.a_cadastro {
    color: #ffcc00;
    font-weight: 600;
}

/* Erros */
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  background-color: #ffe0e0;
  border: 1px solid #ff5c5c;
  position: fixed;
  color: #b30000;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}
.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

#div_erros_login {
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 14px;
} 
