/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: white;
    background-image: url(../assets/imgs/dashFundo.png);
    background-size: cover;
    display: flex;
}

/* navbar*/
header.home {
    display: flex;
    flex-direction: column;
    background: #bdbcbc;
    width: 250px;
    height: 135vh;
    padding: 20px;
    gap: 25px;
}

.logo img {
    width: 160px;
    margin: 30px ;
    display: block;
}

.hello h3 {
    color: #000000;
    font-size: 23px;
    text-align: center;
}

.nav-dash ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.nav-dash ul li a {
    display: block;
    background: #f0d600;
    padding: 18px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.nav-dash ul li a:hover {
    background: #ffea51;
}

.sair a {
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.sair img {
    width: 22px;
}

/* Seção home */
.card-principal {
    padding: 40px;
    width: 100%;
}

/* card 1 */
.banner .card-banner {
    display: flex;
    background: #5551a3;
    padding: 25px;
    border-radius: 15px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.texto-banner {
    width: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.texto-banner h1 {
    line-height: 32px;
}

.botao-quiz {
    background: #f0d600;
    width: 170px;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    
}

.botao-quiz:hover {
    background: #ffea51;
}

.img-banner img {
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 8px #000000;
}

 /* card 2 */
.porque .card-porque {
    padding: 30px;
    background: #5551a3;
    border-radius: 15px;
    margin-top: 40px;
}

.porque h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

/* card 3 */
.comunidade-ultimo .card-comunidade-ultimo {
    padding: 30px;
    background: #5551a3;
    border-radius: 15px;
    margin-top: 40px;
}

.comunidade-ultimo h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}


/* Quiz */
.content-secion {
    background-image: url(../assets/imgs/dashFundo.png);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 24px 72px;
    color: #1c2541;
    background-size: cover;
    background-position: center
}

.content-secion h1 {
    max-width: 1300px;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 16px;
    padding: 90px;
    margin: auto;

}

.pergunta {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.alternativa {
    display: flex;
    margin: 10px 0;
}

.esconder {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #fbff05;
    color: black;
}

button:disabled {
    background-color: #aeaeab;
    cursor: not-allowed;
}


#startBtn {
    display: block; 
    margin: 50px auto;
    font-weight: bold;
}

/* Tela de Resultado */

#respostasUsuario {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    color: #222121;
    background-color: white;
}

#respostasUsuario li {
    margin-bottom: 12px;
    background-color: #e0dcdc;
    padding: 12px 16px;
    border-left: 4px solid #fbff05;
    border-radius: 6px;
}

#respostasUsuario li strong {
    color: #000000;
}

#respostasUsuario img {
    margin: 40px auto 20px auto;
    border-radius: 12px;
    border: 4px solid #fbff05;
}

.botao-dashboard {
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #fbff05;
    color:black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.botao-dashboard:hover {
    background-color: #d1e77f;
}

/* comunidade */
.container-aviso {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.container-aviso h1 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    color: #ffffff;
}
.container-aviso span {
    color: #fbff00;
}

.container-aviso h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 400;
}

.div-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#form_postagem {
    background: #adadad;
    padding: 25px;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
    border-left: 6px solid #fbff00;
}

#form_postagem label {
    font-weight: 500;
}

#titulo,
#textarea_descricao {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #000000;

}
.enviar-aviso button {
    margin-top: 15px;
    padding: 12px 20px;
    background: #6a5acd;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 15px;
}

.enviar-aviso button:hover {
    background: #cff109;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}


.card:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #000000;
}

.card p {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
}

.compartilhar{
    font-size: 40px;
}







