/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: white;
    background-image: url(../assets/imgs/dashFundo.png);
    background-size: cover;
    display: flex;
}

/* navbar*/
header.home {
    display: flex;
    flex-direction: column;
    background: #bdbcbc;
    width: 250px;
    height: 135vh;
    padding: 20px;
    gap: 25px;
}

.logo img {
    width: 160px;
    margin: 30px ;
    display: block;
}

.hello h3 {
    color: #000000;
    font-size: 23px;
    text-align: center;
}

.nav-dash ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.nav-dash ul li a {
    display: block;
    background: #f0d600;
    padding: 18px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.nav-dash ul li a:hover {
    background: #ffea51;
}

.sair a {
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.sair img {
    width: 22px;
}

/* Seção home */
.card-principal {
    padding: 40px;
    width: 100%;
}

/* card 1 */
.banner .card-banner {
    display: flex;
    background: #5551a3;
    padding: 25px;
    border-radius: 15px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.texto-banner {
    width: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.texto-banner h1 {
    line-height: 32px;
}

.botao-quiz {
    background: #f0d600;
    width: 170px;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    
}

.botao-quiz:hover {
    background: #ffea51;
}

.img-banner img {
    width: 500px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 8px #000000;
}

 /* card 2 */
.porque .card-porque {
    padding: 30px;
    background: #5551a3;
    border-radius: 15px;
    margin-top: 40px;
}

.porque h2 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

/* card 3 */
.comunidade-ultimo .card-comunidade-ultimo {
    padding: 30px;
    background: #5551a3;
    border-radius: 15px;
    margin-top: 40px;
}

.comunidade-ultimo h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

